//- template for all the videos
script#video-list(type="text/x-handlebars-template").
	<section>
		<div class="videos container page-wrap">
			<ul class="videos"></ul>
		</div>
		<footer class="site-footer">
			<div class="container">
				<p class="footer-content"><span class="logo-footer">VINGAGE</span> &copy; Site Designed &amp; Devloped by Michael Canlas</p>
			</div>
		</footer>
	</section>