//- template view for a single video
script#video-tpl(type="text/x-handlebars-template").
	<ul class="container">
		<li class="video-container" data-video-container="{{_id}}">
			<h3>{{title}}</h3>
			<video class="col-md-8 video-js vjs-default-skin uploaded-video" id="{{_id}}" controls data-setup='{}' data-video="{{_id}}" width="650" height="400" >
				<source src="{{videoSrc}}" type="video/mp4">
				<source src="{{videoSrc}}" type="video/webm">
				<p class="vjs-no-js"> To view this video please enable Javascript || consider upgrading to a web browser that supports HTML5 video</p>
			</video>
			<section class="col-md-4 video-control-center">
				<button class="toggle-new-note btn btn-default" data-key="{{_id}}">Add Note</button>
				<a href="/view/{{_id}}" class="btn btn-default focus-video">View</a>
				<button class="btn btn-default deleteVideo">Delete</button>
				<a class="btn btn-default download" href="{{videoSrc}}">Download</a>
				<table class="list-notes" data-note-container="{{_id}}" id="{{videoSrc}}">
					{{#each notes}}
						<tr class="note-row"><td>{{note}} <a class="set-time" data-set-time="{{time}}">{{time}}</a></td></tr>
					{{/each}}
				</table>
			</section>
		</li>	
	</ul>