//- template for all the videos
script#video-list(type="text/x-handlebars-template").
	<div class="videos">
		<h1>{{title}}</h1>
		
		<form class="new-video">
			
		</form>

		<ul class="videos"></ul>
	</div>