//- template view for a single video
script#video-tpl(type="text/x-handlebars-template").
	<ul class="container">
		<li class="video-container" data-video-container="{{_id}}">
			<h3><a href="/view/{{_id}}" class="focus-video">{{title}}</a></h3>
			<video class="col-md-8 video-js vjs-default-skin uploaded-video vjs-big-play-centered" id="{{_id}}" controls data-setup='{}' data-video="{{_id}}" width="650" height="400" >
				<source src="{{videoSrc}}" type="video/mp4">
				<source src="{{videoSrc}}" type="video/webm">
				<p class="vjs-no-js"> To view this video please enable Javascript || consider upgrading to a web browser that supports HTML5 video</p>
			</video>
			<section class="col-md-5 video-control-center">
				<button class="toggle-new-note btn btn-default" data-key="{{_id}}">Add Note</button>
				<button class="btn btn-default deleteVideo">Delete</button>
				<button class="btn btn-default theater-mode"data-toggle="modal" data-target="#theater-mode">Theater</button>
				<a class="btn btn-default download" href="{{videoSrc}}">Download</a>
				<section class="list-library">
					<table class="list-notes table table-hover" data-note-container="{{_id}}" id="{{videoSrc}}">
						{{#each notes}}
						<tr class="note-row" data-note="{{_id}}" id="{{_id}}"><td><button class="set-time btn btn-default" data-set-time="{{time}}">{{displayTime}}</button> <p class="thisNote">{{note}}</p> </td></tr>
						{{/each}}
					</table>
				</section>
			</section>
		</li>	
	</ul>