extends layout

block focus
	div.container
		h1= title
	
	section.video-background
	video.video-js.vjs-default-skin.uploaded-video(controls width="1080" height="600")
		source(src="#{videoSrc}" type="video/mp4")
		source(src="#{videoSrc}" type="video/webm")

	section.command-center
		a.btn.btn-default(href="/") Library