extends layout

block navbar
	nav.navbar.navbar-inverse.main-nav
		section.container
			p= user.username
			p.pull-right.logout: a(href="/auth/logout") Logout
			button(data-toggle="modal" data-target="#uploadModal"): i.fa.fa-video-camera

block content
	//- Upload template
	.modal.fade(id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-body.upload-video
					form.dropzone.dz-clickable.custom-drop(method="post", action="/submitPublic", enctype="multipart/form-data" name="image")
						input(type="text" name="video-title" placeholder="Title")
						input(type="file", name="video")
						input(type="submit")