extends layout

block content
	//- Upload template
	.modal.fade(id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-body.upload-video
					form.dropzone.dz-clickable.custom-drop(method="post", action="/newVideo", enctype="multipart/form-data" name="image")
						input(type="text" name="video-title" placeholder="Title")
						input(type="file", name="video")
						input(type="submit")

	script.
		var bootstrappedVideos = !{JSON.stringify(videos)};