extends layout

block navbar
	nav.navbar.navbar-inverse.main-nav
		ul.nav.navbar-nav
			a.navbar-brand.nav-logo Vingage
		div.navbar-form
			button.btn.btn-primary(data-toggle="modal" data-target="#uploadModal") Upload Video
			button.btn.pull-right.logout.navbar-right: a(href="/auth/logout") Logout

block content
	p= user.username
	//- Upload template
	.modal.fade(id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-body.upload-video
					form.dropzone.dz-clickable.custom-drop(method="post", action="/newVideo", enctype="multipart/form-data" name="image")
						input(type="text" name="video-title" placeholder="Title")
						input(type="file", name="video")
						input(type="submit")

	script.
		var bootstrappedVideos = !{JSON.stringify(videos)};