doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Vingage
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="//vjs.zencdn.net/4.9/video-js.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
		link(href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="/stylesheets/lib/mainDev.css")
		//- link(rel="stylesheet", href="/stylesheets/lib/video-js.min.css")
		//- link(rel="stylesheet", href="/stylesheets/main.css")

	body
		nav.navbar.navbar-inverse.main-nav
			div.container
				ul.nav.navbar-nav
					a.navbar-brand.nav-logo VINGAGE
				div.navbar-form
					button.btn.btn-default.btn-nav(data-toggle="modal" data-target="#uploadModal"): i.fa.fa-plus  Upload Video
					a.btn.btn-default.btn-nav(href="/") QuickView
					a.btn.btn-default.btn-nav(href="/videojs") VideoJS
					//- a.btn.btn-default.btn-nav(href="#") Library
					a.btn.btn-default.pull-right.logout.navbar-right(href="/auth/logout") Logout

		section.container
			block content
			block focus

			//- Handlebars template
			include partials/video-tpl
			include partials/video-list-tpl


	
	//- external scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js") 
	script(src="//vjs.zencdn.net/4.9/video.js") 
	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js") 
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js") 
	script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js") 
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")

	//- backbone scripts
	script(src="/scripts/lib/models/video-model.js")
	script(src="/scripts/lib/collections/video-list.js")
	script(src="/scripts/lib/views/video-view.js")
	script(src="/scripts/lib/views/list-view.js")
	script(src="/scripts/lib/bundle.js")
	//- script(src="/scripts/lib/video.js")
	//- script(src="/scripts/main.js")

