extends layout

block content
	h3 Sign in
	form.sign-in(action="/auth/login" method="post")
		input(type="text" name="username" placeholder="Username")
		input(type="password" name="password" placeholder="Password")
		button(type="submit") Sign in

	//- Sign up
	
	h3 Sign up
	form(action="/auth/signup" method="post")
		input(type="text" name="username" placeholder="Username")
		input(type="email" name="email" placeholder="Email")
		input(type="password" name="password" placeholder="Password")
		button(type="submit") Sign in