doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Vingage Demo
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="//vjs.zencdn.net/4.9/video-js.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
		link(href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="/stylesheets/main-min.css")

	body
		nav.navbar.navbar-inverse.main-nav
			div.container
				ul.nav.navbar-nav
					a.navbar-brand.nav-logo VINGAGE

		section.container
			h1 Vingage Sandbox
			//- Handlebars template

			script(type="text/javascript").
				var bootstrappedVideos = !{JSON.stringify(videos)};

			include partials/video-tpl
			include partials/video-list-tpl

	//- external scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="//vjs.zencdn.net/4.9/video.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js")

	//- backbone scripts
	script(src="/scripts/main-min.js")